<div class="dropdown notification-dropdown">
  <button class="btn btn-default dropdown toggle" data-toggle="dropdown" id="dropdownMenu1" type="button" aria-haspopup="true" aria-expanded="true"> 
   <span class="glyphicon glyphicon-bell"></span>
    <% unless current_user.notifications.where(read: false).count == 0 %>
      <%= current_user.notifications.where(read: false).count %>
    <% end %>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li class="dropdown-header text-center">New Notifications</li>
    <% current_user.notifications.where(read: false).order('created_at DESC').last(5).each do |notification| %>
      <%= render notification %>
    <% end %>
    <li class="divider" role="separator"></li>
    <li class="text-center">
      <%= link_to 'View All', notifications_path %>
    </li>
  </ul>
</div>