<div class="events-wrapper row">
  <% if @feed_items.any? %>
  	<% unless @search_query.nil? %>
  		<p>Searched: <%= @search_query %></p>
    <% end %>
	<% @feed_items.each do |feed_item| %>
		<%= render 'events/event', :event => feed_item %>
  	<% end %>
  	<div>
  		<%= will_paginate @feed_items %>
  	</div>
  <% end %>
</div>