<div class="events-wrapper">
	<h3>Discover Events</h3>
	<% @explore_events.each do |event_item| %>
		<%= render 'events/event', :event => event_item %>
	<% end %>
	<%= will_paginate @explore_events %>
</div>