<% provide(:title, 'Friend Circle') %>
<div class="row">
  <aside class="col-md-3">
    <section class="user_info">
      <h1><%= @user.user_name %></h1>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>

  <div class="col-md-9">
    <% if @friends %>
      <% if @friends.any? %>
        <% @friends.each do |f|%>
          <ul>
            <li><%= f.id %></li>
          </ul>
        <% end%>
      <% end %>
    <% end %>
  </div>
</div>