<% provide(:title, 'Home') %>

<% if signed_in? %>
  <%= render 'shared/feed' %>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to UCLAevents!</h1>
  </div>
  <div class="center hero-unit">
    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </div>
<% end %>

