<div class="events-wrapper">

	<h2>Tags (<%= @tag_results.count %>)</h2>
	<% @tag_results.each do |event| %>
		<%= render 'shared/event_info', event: event %>
	<% end %>


	<h2>Users (<%= @user_results.count %>)</h2>
	<% @user_results.each do |user| %>
		<%= render 'shared/user_info', user: user %>
	<% end %>
</div>