@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* START CUSTOM UI */

html {
  overflow-y: scroll;
}

body {
  background-color: #fafafa;
  font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  padding-top:70px;
}

.navbar-brand {
  a {
    color: #125688;
  }
}

.navbar-default {
  background-color: #fff;
  height: 54px;
  .navbar-nav li a {
    color: #125688;
  }
}

.navbar-container {
  width: 640px;
  margin: 0 auto;
}

.events-wrapper {
  padding-top: 40px;
  margin: 0 auto;
  max-width: 642px;
  width: 100%;
}


.event {
  background-color: #fff;
  border-color: #edeeee;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  margin-bottom: 60px;

  .event-head {
    flex-direction: row;
    height: 64px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 15px;
    color: #125688;
    font-size: 15px;
    line-height: 18px;

    .user-name, .time-ago, .event-title {
      display: inline;
    }
    .user-name {
      font-weight: 500;
    }
    .event-title{
      font-weight: 400;
      color: black;
    }
    .time-ago {
      color: #A5A7AA;
      float: right;
    }
    .event-btn {
      display: inline;
      float: right;
    }
  }
  .map {
    border-bottom: 1px solid #eeefef;
    border-top: 1px solid #eeefef;
  }
}

.event-bottom {
  .location {
    font-weight: 400;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .description, .tag-list, .attending, .edit-link {
    font-weight: 300;
    padding-left: 15px;
    padding-bottom:10px;
  }
  .user-name, .comment-content {
    display: inline;
  }

  .caption {
    margin-bottom: 7px;
  }
  .user-name {
    font-weight: 500;
    color: #125688;
    font-size: 15px;
  }
  .user-name, .caption-content {
    display: inline;
  }
  #comment {
    margin-top: 7px;
    .user-name {
      font-weight: 500;
      margin-right: 0.3em;
    }
    .delete-comment {
      float: right;
      color: #515151;
    }
  }
  margin-bottom: 7px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 10px;
  font-size: 15px;
  line-height: 18px;
}

.caption {
  padding: 24px 24px;
  font-size: 15px;
  line-height: 18px;

}

.form-wrapper {
  width: 60%;
  margin: 20px auto;
  background-color: #fff;
  padding: 40px;
  border: 1px solid #eeefef;
  border-radius: 3px;
}

.edit-links {
  margin-top: 20px;
  margin-bottom: 40px;
}

.search_bar {
  background: #fafafa;
  border: solid 1px #dbdbdb;
  font-size: 14px;
  border-radius: 3px;
  color: #999;
  cursor: text;
  font-weight: 300;
  left: 0;
  padding: 7px;
  position: absolute;
  text-align: center;
  top: 0;
  z-index: 2;
}

.search_icon {
  margin-right: 6px;
  vertical-align: baseline;
}

.search-text {
  max-width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom;
  white-space: nowrap;
}

.img-circle {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

#user_avatar {
  margin: 20px auto;
}

.profile-header {
  padding: 20px 0;
}

.profile-image {
  margin: 20px auto;
  height: 152px;
  width: 152px;
}

.inline-profile-image {
  height: 50px;
  width: 50px;
}

.user-name-and-follow {
  display: inline;
}

.profile-user-name {
  display: inline;
}

.edit-button {
  border-color: #818488;
  color: #818488;
  margin-left: 20px;
}

.profile-bio {
  margin-top: 20px;
}

.follow-button {
  text-transform: uppercase;
  border-color: #4090db;
  color: #4090db;
  margin-left: 20px;
  &:visited, &:focus, &:hover {
    border-color: #2D6396;
    color: #2D6396;
  }
}

.unfollow-button {
  text-transform: uppercase;
  border-color: #66bd2b;
  background-color: #66bd2b;
  color: white;
  margin-left: 20px;
  &:visited, &:focus, &:hover {
    border-color: #47821F;
    background-color: #47821F;
    color: white;
  }
}

.search-bar {
  border: 1px solid #bbb;
  width: 225px;
  padding: 10px;
  height: 35px;
  margin-bottom: 15px;
  @include box_sizing;
}


/* END CUSTOM UI */

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* forms */

textarea, select, .uneditable-input, .join-btn {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto !important;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}


.instagram, .instagram:hover{
  
  text-decoration: none;
  color: inherit;

}

.profile-right-shift{
  margin-right: 40px;
}

.profile-font-weight{
  font-weight: 600;
}

.profile-font-light{
  font-weight: 100 !important;
}

.profile-edit-button {
  border-color: #818488;
  color: #818488;
}

.profile-instagram-position{
    background-repeat: no-repeat;
    background-position: -308px -37px;
    height: 44px;
    width: 44px;
}